@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins';
  background-image: url(../img/relogio.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  user-select: none;
  color: white;

}

/* Estilizando o cabeçalho */
header {
    padding: 10px;
    text-align: center;
  }
  
  header img {
    max-width: 200px;
  }
  
  /* Estilizando o contêiner principal */
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    text-align: center;
  }
  
  /* Estilizando a lista de histórico */
  #historico-list {
    list-style: none;
    padding: 0;
  }
  
  #historico-list li {
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
  }
  
  #historico-list button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #historico-list button:hover {
    background-color: #d32f2f;
  }

  /* Estilos para o botão "Voltar ao Formulário" */
#voltarAoFormulario {
  background-color: #012f9b; /* Cor de fundo do botão */
  color: white; /* Cor do texto do botão */
  border: none; /* Remove a borda do botão */
  padding: 10px 20px; /* Espaçamento interno do botão */
  cursor: pointer; /* Altera o cursor ao passar o mouse sobre o botão */
  font-size: 16px; /* Tamanho da fonte */
  border-radius: 5px; /* Borda arredondada */
  left: 20px;
  top: 20px;
  position: fixed;
}

/* Estilos adicionais, como hover (quando o mouse passa sobre o botão) */
#voltarAoFormulario:hover {
  background-color: #f58634; /* Cor de fundo alterada ao passar o mouse */
  transition: all 0.5s ease-in-out;
}

/* Estilos do modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.644);
  justify-content: center;
  align-items: center;
  color:rgb(33, 206, 206);
}

.modal-content {
  background-color: white;
  padding: 40px;
  width: 20%;
  height: 20%;
  border: 1px solid #015367; /* Adiciona borda de 1px sólida a cabeçalhos e células da tabela */
  background-color: rgba(0, 0, 0, 0.644);
  border-radius: 5px;
  text-align: center;
  font-size: 25px;
}

/* Estilos dos botões do modal */
#confirmYes , #confirmNo{
  padding: 17px;
  margin: 20px;
  margin-top: 30px;
  cursor: pointer;
  background: none;
  border: 1px solid #015367; /* Adiciona borda de 1px sólida a cabeçalhos e células da tabela */
  border-radius: 5px;
  color: white;
  font-size: 18px;
  
}

#confirmNo:hover{
  background-color: #009688;
  transition: all 0.5s ease-in-out;

}

#confirmYes:hover{
  background-color: #d32f2f;
  transition: all 0.5s ease-in-out;

}


@media (max-width: 700px) {

  #voltarAoFormulario{
    left: 5px;
    top: 20px;
    width: 150px;
  }

  header img{
    position: fixed;
    top: 15px;
  }

  header{
    margin-top: 30%;
  }

  .modal-content {
    width: 70%;
    height: 10%;
    text-align: center;
    font-size: 15px;
  }

#confirmYes{
    padding: 10px;
    top: 47%;
    cursor: pointer;
    background: none;
    border: 1px solid #015367; /* Adiciona borda de 1px sólida a cabeçalhos e células da tabela */
    color: white;
    font-size: 17px;
    width: 40%;
    display: flex;
    position: absolute;
    left: 10px;
    justify-content: center;
  }

#confirmNo{
    padding: 10px;
    top: 47%;
    cursor: pointer;
    background: none;
    border: 1px solid #015367; /* Adiciona borda de 1px sólida a cabeçalhos e células da tabela */
    color: white;
    font-size: 17px;
    width: 40%;
    display: flex;
    position: absolute;
    right: 10px;
    justify-content: center;
  }

  #confirmMessage{
    font-size: 20px;
    position: absolute;
    top: 41%;
    width: 70%;
  }
}

  